body {
	background-image:url("background-1.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	min-width:100%;
	font-family:Verdana;
}
div{
	max-width:60%;
	padding-bottom:3%
}

img {
	max-width:100%;
	padding-bottom:1%;
	clear:both;
	float:right;
}

h1{
	font-size:36px;
}

h2{
	font-size:24px;

}

p{
	font-size:20px;
	float:left;
	font-family:Verdana;
}

#opening{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	max-width:50%;
}
.container{
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15%;
}

#opening p{
	float:left;
	max-width:75%;
}
#opening img{
	float:right;
	max-width:25%;
}

#header {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10%;
	max-width:100%;
	clear:both;
	font-family:Verdana;
}



#page-wrap { 
  width: 15%; 
  margin: 5% auto; 
  position: relative; 
  clear:both;
}


#sidebar {
    float: right;
    width: 5%;
    font-size: 90%;
    margin-left: 80%;
    margin-top: 5%;
    position:fixed;
    max-width:100%;
    padding:10%;
    clear:both;
}

#sidebar li{
    list-style-type:none;
    margin-bottom:8%;
    font-family:verdana;
    font-style:bolder;
}


#sidebar a{
	color:black;
	font-size:150%;
	font-style:bolder;
	font-family:Verdana;
}

#sidebar a:hover {
	color:white;
}

.content{
	float:left;
	max-width:40%;
}

.example{
	float:right;
	max-width:40%;
}


.sheader{
	margin-left:auto;
	margin-right:auto;
	padding-top:15%;
	text-align:center;
}

.ccontainer{
	text-align: center;
	margin:auto;
	max-width:60%;
	clear:both;
	padding-bottom:40%;
}