span {
	font-style:bolder;
	font-style:italic;
	font-style:underline;
}

body {
	background-color:black;
	font-family:Arial;
	font-size:150%;
	clear:both;
}

#sidebar
{
    float: left;
    width: 250px;
    background: #ccc;
    min-height: 100%;
}

h1 {
	font-size: 300%;
	}
h2 {
	font-size : 200px;
}

p {
	font-size:120%;
}

a {
	color:purple;
}

div {
	border-width: 2px;
	border-style:dashed;
	border-color:transparent;
	border-radius: 20px;
	padding:20px;
}

#header {
	background-color:gray;
	width: 70%;
	text-align:center;
	margin:auto;
	color:black;
	margin-bottom:50px;
}

#floatright {
	float: right;
}
#floatleft {
	float:left;
}
#yellowshirts {
	background-color:yellow;
	width: 70%;
	text-align: center;
	margin:auto;
	margin-bottom:50px;
	color:black;
}
#redshirts {
	background-color:red;
	width: 70%;
	text-align: center;
	margin:auto;
	margin-bottom:50px;
	color:black;
}

#blueshirts {
	background-color:blue;
	width: 70%;
	text-align: center;
	margin:auto;
	margin-bottom:50px;
	color:black;	
}

#footer {
	text-align: center;
	margin:auto;
}

#octocat {
	text-align: center;
	margin: auto;
}