body{
	background-image:url("http://www.bangngangan.com/images/old-grunge-paper-texture-wild-textures_3434854.jpg");
	min-width:100%;
	max-width:100%;
	font-weight:300;
}

img {
	max-width:100%;
	padding-bottom:1%;
}

h1{
	font-size:50px;
}

h2{
	margin-top: 10%;
	font-size:24px;

}

p{
	font-size:16px;
}

div{
	border-width:10%;
	border-radius:30%;
}

#header {
	width: 30%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}


#sidebar {
    float: right;
    width: 5%;
    font-size: 90%;
    margin-left: 80%;
    margin-top: 15%;
    padding:3%;
    position:fixed;
    border-radius:20%;


}

#sidebar li{
    list-style-type:none;
    margin-bottom:8%;
}

#sidebar a:hover{
	color:red;
}

#page-wrap { 
  width: 15%; 
  margin: 5% auto; 
  position: relative; 
}

.presidents {
	max-width: 50%;
	text-align:center;
	text-indent:5%;
	margin:auto;
	color:black;
	margin-bottom:10%;
	float:left;
	background-color:#CECECE;
}
