body{
	background-color:black;
}

div{
	text-align:center;
	padding:50px;

}

#bluebox {
	background-color:blue;
	width:150px;
	height:150px;
	border-radius:20px;
}

#redbox{
	background-color:red;
	width:150px;
	height:150px;
	border-style:dashed;
	border-color:white;
	border-width:5px;
}

p {
	font-size:26px;
}